@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page-container {
  display: grid;
  place-items: center;
  margin: 0px 64px;
}

header > h1 {
  margin: 64px;
  font-size: 4rem;
  letter-spacing: 2px;
}

.add-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.add-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.add-button > img {
  width: 48px;
  height: auto;
}

.add-button:hover {
  cursor: pointer;
  font-weight: 600;
  scale: 1.1;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  letter-spacing: 1px;
}

th {
  background-color: #6c7ae0;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  /* border: 1px solid #e6e6e6; */
  padding: 10px 20px;
}

.buttons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

[class^='icon'] {
  width: 16px;
  height: auto;
  cursor: pointer;
}

.error {
  border: 2px solid #e06c7a;
}

dialog {
  border: 2px solid #6c7ae0;
  border-radius: 8px;
  margin: 20vh auto;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
}

dialog > form#addEditBookForm {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, minmax(48px, auto));
  padding: 24px;
  gap: 8px;
  grid-template-areas:
    'header header'
    'title title'
    'author author'
    'pages pages'
    'read read'
    'btn btn';
}

form .title,
form .author,
form .pages,
form .read {
  display: grid;
  grid-template-columns: 64px minmax(250px, auto);
  align-items: center;
}

form .form-row > label {
  padding: 16px;
  justify-self: end;
}

form .form-row input[type='text'],
form .form-row input[type='number'] {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.radio-buttons {
  grid-column: 2 / 3;
}

input[type='text']:focus,
input[type='text']:active {
  border: 2px solid #6c7ae0;
}

form h1 {
  grid-area: header;
  color: #6c7ae0;
  text-align: center;
}

form .title {
  grid-area: title;
}

form .author {
  grid-area: author;
}

form .pages {
  grid-area: pages;
}

form .read {
  border: none;
  grid-area: read;
  align-items: center;
}

form .read legend {
  display: block;
  float: left;
  text-align: end;
  padding-right: 16px;
}

.radio-buttons {
  display: flex;
}

input[type='radio'] {
  display: inline;
  width: auto;
  margin-right: 3px;
}

fieldset label {
  display: block;
  margin-right: 16px;
}

form .buttons {
  display: flex;
  grid-area: btn;
  justify-content: center;
}

#ok-btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5995da;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

#cancel-btn {
  font-size: 16px;
  font-weight: bold;
  color: #5995da;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
